


# Ignore virtual environment
venv/

# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore temporary files
.DS_Store

# Ignore secrets file from git history but still have it locally
secrets.toml
